extends layout

block content
    header.w3-container.w3-teal.w3-card-4
        h1.w3-center #{title}

    .w3-container.w3-section
        .w3-card-4
            table.w3-table.w3-table-all
                tr 
                    th Categoria
                    th Ano
                each premio in premios
                    tr
                        td= premio.category
                        td= premio.year
                        td
                            button.w3-button.w3-blue-grey(onclick='visualizaItem("' + premio._id + '")') Visualizar

