extends layout

block content
    header.w3-container.w3-teal.w3-card-4
        h1.w3-center #{title}

    .w3-container.w3-section
        .w3-card-4
            form.w3-container.w3-padding-16(action='./premios', method='GET')
                label
                    b A partir do Ano
                input.w3-input.w3-border(type="text" name="data")
                br
                label
                    b Categoria
                input.w3-input.w3-border(type="text" name="categoria")
                br
                br
                input.w3-btn.w3-blue-gray(type="submit" value="Pesquisar")
