extends layout

block content
  header.w3-container.w3-teal.w3-card-4
    h1.w3-center #{title}
  
  .w3-container.w3-section
    a(href='/nobel/premios')
      button.w3-btn.w3-bar.w3-blue-gray Listar Todos os Premios
  .w3-container.w3-section
    a(href='/nobel/premios-search')
      button.w3-btn.w3-bar.w3-blue-gray Listar Premios Por Ano/Categoria
  .w3-container.w3-section
    a(href='/nobel/categorias')
      button.w3-btn.w3-bar.w3-blue-gray Listar Categorias
  .w3-container.w3-section
    a(href='/nobel/laureados')
      button.w3-btn.w3-bar.w3-blue-gray Listar Laureados


